<html>
<title>
    Catalogo de roldanas
</title>

<body>
    <h1>Catalogo</h1>
    <table border="1px">
        <tr>
            <td>NOME_FANTASIA</td>
            <td>DATA_FABRICACAO</td>
            <td>COR</td>
            <td>PRECO</td>
            <td>ALTURA</td>
            <td>PESO</td>
        </tr>
        <tr>
            <td>Bethanica</td>
            <td>27.03.1968</td>
            <td>Branca</td>
            <td>1000,000</td>
            <td>1,60</td>
            <td>64,00Kg</td>
        </tr>
        <tr>
            <td>Ericka</td>
            <td>27.03.1990</td>
            <td>Amarela</td>
            <td>240,00</td>
            <td>1,70</td>
            <td>50,00Kg</td>
        </tr>
        <tr>
            <td>Gadú</td>
            <td>17.01.1981</td>
            <td>Branca</td>
            <td>300,00</td>
            <td>1,68</td>
            <td>60,00Kg</td>
        </tr>
    </table>
</body>

</html>